<!DOCTYPE html>
<html ng-app="angularcontacts">

<head>
    <meta name="viewport" content="width= device-width, initial-scale= 1">
    <title>Contacts Application</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ladda/dist/ladda-themeless.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Contacts</a>
            </div>
        </div>
    </nav>
    <div class="container main-content" ng-controller="PersonsController">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Birthdate</th>
                    </tr>
                    <tr ng-repeat="person in persons" ng-click="setSelectedIndex(person, $index)" ng-style="{
                        backgroundColor: selectedIndex == $index? 'lightgray': ''
                    }">
                        <td>
                            {{ $index }}
                        </td>
                        <td>
                            {{ person.name }}
                        </td>
                        <td>
                            {{ person.email }}
                        </td>
                        <td>
                            {{ person.birthdate | date:'longDate' }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Selected Contact
                </div>
                <div class="panel-body">
                  <dl class="">
                    <dd>Name:</dd>
                    <dt>{{ selectedPerson.name }}</dt>
                    <dd>Email:</dd>
                    <dt>{{ selectedPerson.email }}</dt>
                    <dd>Birthdate:</dd>
                    <dt>{{ selectedPerson.birthdate }}</dt>
                    <dd>Phonenumber:</dd>
                    <dt>{{ selectedPerson.phoennumber }}</dt>
                    <dd>Address:</dd>
                    <dt>{{ selectedPerson.address }}</dt>
                    <dd>City:</dd>
                    <dt>{{ selectedPerson.city }}</dt>
                    <dd>Country:</dd>
                    <dt>{{ selectedPerson.country }}</dt>
                  </dl>
                </div>
              </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-auto-validate/dist/jcs-auto-validate.js"></script>
    <script type="text/javascript" src="bower_components/spin.js/spin.js"></script>
    <script type="text/javascript" src="bower_components/ladda/dist/ladda.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>
